name: Build & Push Docker Images

on:
  workflow_call:
    inputs:
      targets:
        description: "Docker Bake targets to build"
        required: false
        type: string
        default: "all"
      push:
        description: "Push images to registry"
        required: false
        type: boolean
        default: false
    secrets:
      docker-hub-access-token:
        required: false

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check Out Repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version: "3.x"

      - name: Generate Docker Bake configuration
        run: python3 scripts/generate-bake.py

      - name: Set up QEMU for Docker Buildx
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Generate Docker image metadata
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
        id: meta
        with:
          images: |
            docker.io/hazmi35/node
            ghcr.io/hazmi35/node
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=sha,prefix=sha-
          labels: |
            org.opencontainers.image.title=Node.js Docker Images
            org.opencontainers.image.description=Custom Node.js base images for Docker containers
            org.opencontainers.image.vendor=hazmi35
          bake-target: all

      - name: Set lowercase username
        id: username
        run: |
          echo "docker_username=$(echo '${{ github.repository_owner }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT

      - name: Login to Docker Hub
        if: ${{ inputs.push }}
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: docker.io
          username: ${{ steps.username.outputs.docker_username }}
          password: ${{ secrets.docker-hub-access-token }}

      - name: Login to GitHub Container Registry
        if: ${{ inputs.push }}
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ steps.username.outputs.docker_username }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker images
        uses: docker/bake-action@4a9a8d494466d37134e2bfca2d3a8de8fb2681ad # v5
        with:
          files: |
            docker-bake.hcl
            ${{ steps.meta.outputs.bake-file }}
          targets: ${{ inputs.targets }}
          push: ${{ inputs.push }}
        env:
          PUSH: ${{ inputs.push }}
