name: Specify Dockerfiles working directories

on:
  workflow_call:
    inputs:
      base-dir:
        required: true
        type: string
    outputs:
      workdirs:
        description: "List of working directories"
        value: ${{ jobs.specify-workdir.outputs.workdirs }}
      workdirs-array:
        description: "List of working directories in JSON Array"
        value: ${{ jobs.specify-workdir.outputs.workdirs-array }}

permissions:
  contents: read

jobs:
  specify-workdir:
    runs-on: ubuntu-latest

    outputs:
      workdirs: ${{ steps.workdirs.outputs.list }}
      workdirs-array: ${{ steps.array.outputs.result }}

    steps:
      - name: Check Out Repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 0

      - name: Set up Node.js for generating JSON Array
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0

      - name: Generate a list of changed Dockerfiles
        id: workdirs
        run: echo "list=$(git --no-pager diff --name-only HEAD^ ${{ inputs.base-dir }} | sed 's/\/Dockerfile//g' | sed ':a;N;$!ba;s/\n/ /g')" >> $GITHUB_OUTPUT
        shell: bash

      - name: Generate a JSON array of list
        id: array
        run: echo "result=$(node -p 'JSON.stringify(process.argv.slice(1))' ${{ steps.workdirs.outputs.list }})" >> $GITHUB_OUTPUT
